/* Colors */
$background-color: #FFFDE4!default; //배경색
$text-color: #002263 !default; //글자색
$primary-color: #005AA7 !default; //포인트 색
$border-color: mix($primary-color, $background-color, 0%) !default; //테두리 색
$code-background-color: #4D5357 !default;
$code-background-color-dark: #3F4447 !default;
$form-background-color: mix(#000, #FFFDE4, 15%) !default;
$footer-background-color: $primary-color !default; // footer 배경색
$link-color: #002263 !default; // 게시물 글자색
$link-color-hover: #005AA7 !default; // 포인터 올렸을 때 글자색
$link-color-visited: mix(#000, $link-color, 25%) !default;
$masthead-link-color: #002263 !default; // 상단링크 글자색
$masthead-link-color-hover: mix(#000, #005AA7, 20%) !default; // 포인터 올렸을 때 글자색
$navicon-link-color-hover: mix(#000, #005AA7, 60%) !default;
